<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .form-group p { margin-top:10px; }
    </style>
  </head>
<body ng-cloak="">
   <div class="container" ng-controller="LunchCheckController as ctrl">
     <h1>Lunch Checker</h1>

         <div class="form-group" ng-class="ctrl.hasItem ? 'has-success':'has-error'">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="ctrl.items">
             <p><strong>Note: </strong><span class="text-warning">An empty item, i.e., , , is not considered as an item towards to the count.</span></p>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="ctrl.checkItems()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-class="ctrl.hasItem ? 'text-success':'text-danger'">
           <!-- Your message can go here. -->
           {{ ctrl.message }}
         </div>
   </div>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>
